body {
  background: #000;
  color: #ababab;
}

#wrapper {
  max-width: 20em;
  margin: 0 auto;
  padding: 2% 2%;
}

#main {
  margin: 2%;
  padding: 2%;
}

#main form input,
#main form select,
#main form label,
#main form textarea{
  width: 92%;
  padding: 0;
  margin: .5em 1em;
  font-size: 12px;
}
#main form textarea {
  height: 4em;
}